<mat-toolbar color="primary">
  <button mat-button (click)="onSidenavClick()">
    <mat-icon>{{ toggleActive ? 'menu_open' : 'menu' }}</mat-icon>
  </button>

  <button mat-button [routerLink]="'/'">
    <span class="app-title">{{ title }}</span>
  </button>

  <span class="spacer"></span>
  <div fxHide fxShow.gt-sm>
    <button mat-button [routerLink]="'/login'">
      <mat-icon>login</mat-icon> &nbsp; login
    </button>
    <button mat-button [routerLink]="'/login'">
      <mat-icon>logout</mat-icon> &nbsp; logout
    </button>
  </div>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav (click)="onSidenavClick()" [(opened)]="toggleActive" class="sidenav" mode="over">
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/'">Home</a>
      <a mat-list-item [routerLink]="'/'">Page 2</a>
      <a mat-list-item [routerLink]="'/'">Page 3</a>
      <a mat-list-item [routerLink]="'/'">Page 4</a>
      <div fxShow fxHide.gt-sm>
        <mat-divider></mat-divider>
        <a mat-list-item [routerLink]="'/login'">
          <mat-icon>login</mat-icon> &nbsp; login
        </a>
        <a mat-list-item [routerLink]="'/login'">
          <mat-icon>logout</mat-icon> &nbsp; logout
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>





