.tab-header {
  align-items: center;

  span {
    position: absolute !important;
    color: white;
    left: 40%;
    bottom: 0;
  }
  img {
    width: 200px;
  }
}

.tab-image-shadow {
  position: absolute;
  width: 200px;
  height: 100%;
  box-shadow: inset 0px -17px 15px 0px black;
  top: 0;
  left: 25px;
}

.category-desc-wr {
  padding: 18px;
  font-family: arial, serif;
  text-align: center;
}

.category-Name {
  font-weight: bold;
  font-family: arial, serif;
}

.category-Description {
  font-style: italic;
  width: 80%;
}
