


<mat-tab-group mat-align-tabs="center" color="warn">
  <div *ngFor="let category of menuCategories">

    <mat-tab *ngIf="category.menuItems.length > 0">
      <ng-template mat-tab-label>
        <div class="tab-header">
          <img src="{{category.categoryImageUrl }}" alt="{{ category.name }} image">
          <div class="tab-image-shadow"></div>
          <span>{{ category.name }}</span>
        </div>

      </ng-template>
      <div class="tab_content">

        <div class="category-desc-wr justify-content-md-center">
          <span class="category-Name">{{ category.name }}</span>
          <span class="category-Description">{{ category.description }}</span>
        </div>

        <div class="row justify-content-md-center">
          <div class="h-100 col-5" *ngFor="let menuItem of category.menuItems">
            <app-item-card [MenuItem]="menuItem"></app-item-card>
          </div>
        </div>
      </div>
    </mat-tab>
  </div>
</mat-tab-group>












