<mat-card class="item-card">
  <mat-card-header>
    <mat-card-title>{{ MenuItem.title }}</mat-card-title>
  </mat-card-header>

<!--  <img mat-card-image src="{{ MenuItem.itemImageUrl }}" class="card-img" alt="{{ MenuItem.title }}"/>-->
  <img mat-card-image src="../../../assets/img/images.jpg" alt="{{ MenuItem.title }}"/>

  <mat-card-content class="menu-item-description">
    {{ MenuItem.description }}
  </mat-card-content>

  <mat-card-actions>
    <button mat-button color="warn">
      <mat-icon >add_box</mat-icon>
    </button>
    <button mat-button class="menu-item-price">{{ MenuItem.price | currency }}</button>
  </mat-card-actions>

</mat-card>

