.item-card {
  width: 200px;
  margin: 8px;
  box-shadow: 3px 3px 3px 0  #333
}
.item-card > img{
  height: 40%;
}

.menu-item-description {
  overflow: auto;
  font-weight: normal;
  font-size: .9em;
  line-height: 1.5em;
  height: 90px;
}
.menu-item-price{
  float: right;
  font-weight: bold;
  font-family: arial, serif;
  margin-top: -30px;
}

