.item-card {
  width: 210px;
  margin-left: 8px !important;
  margin-right: 8px !important;
  box-shadow: 3px 3px 3px 0 #333;
  background-color: #ececec;
}

.item-card > img {
  border-radius: 6px;
  height: 150px;
}

.menu-item-description {
  overflow: auto;
  font-weight: normal;
  font-size: .9em;
  line-height: 1.5em;
  height: 40px;
}
.menu-item-price {
  float: right;
  font-weight: bold;
  font-family: arial, serif;
}

