<div class="category-wrapper">
  <div fxLayout="row" fxLayoutAlign="center center" >
    <div class="category-row" *ngFor="let categoryModel of categoryList" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
      <a class="category-div" (click)="getCategoryById(categoryModel.id)">
        <img src="../../assets/img/images.jpg" alt="{{ categoryModel.description }}">
<!--        <img src="{{categoryModel.categoryImage }}" alt="{{ categoryModel.description }}">-->
        <div class="category-description ">
          <span>{{ categoryModel.name }}</span>
        </div>
      </a>
    </div>
  </div>
</div>
