<mat-table *ngIf="dataSource" [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <mat-header-cell *matHeaderCellDef> {{column | titlecase }} </mat-header-cell>
    <mat-cell *matCellDef="let order_element"> {{order_element[column]}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columnsToDisplay" ></mat-header-row>
  <mat-row *matRowDef="let row; columns: columnsToDisplay;"></mat-row>
</mat-table>
