.flex-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}
.category-desc-wr {
  padding: 30px;
  font-family: arial, serif;
  text-align: center;
}
.cat-Name {
  font-weight: bold;
  font-family: arial, serif;
}

.cat-Description {
  font-style: italic;
  width: 80%;
}


